.order-summary-page {
  margin: 0px 250px;
}

.deliver-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.deliver-header button {
  background: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 20px;
  height: 40px;
  width: 125px;
  cursor: pointer;
  font-size: 16px;
}

.address-box {
  background: #fdfdfd;
  border: 1px solid #dadada;
  padding: 25px 35px;
  border-radius: 40px;
  margin-top: 30px;
}
.address-box .name p {
  font-size: 25px;
  color: #202020;
  letter-spacing: 0.5px;
}
.address-box .name {
  display: flex;
  align-items: center;
  gap: 15px;
}
.address-box .name .name-tag {
  background-color: #ffdcc3;
  border: 1px solid #ff6d00;
  border-radius: 5px;
  font-size: 13px;
  padding: 5px 13px;
  font-weight: 200;
  letter-spacing: 0.5px;
}
.address-box .phone-number {
  font-size: 20px;
  color: #555555;
  width: 60%;
  letter-spacing: 0.5px;

  margin-top: 15px;
}
.address-box .address-line {
  font-size: 20px;
  color: #555555;
  width: 40%;
  letter-spacing: 0.5px;
  line-height: 30px;
  margin-top: 15px;
}
.order-summary-box {
  margin-top: 50px;
}

.product-summary-card {
  background: #fdfdfd;
  border: 1px solid #dadada;
  border-radius: 40px;
  margin-top: 30px;
}

.product-row {
  display: flex;
  gap: 30px;
  padding: 25px;
}

.product-row:not(:last-child) {
  border-bottom: 1px solid #ececec;
}
.product-summary-card .cart-product-img {
  width: 170px;
  height: 170px;
  background: #e5e5e5;
  border-radius: 20px;
}

.product-img-div {
  position: relative;
}

.quantity-badge {
  position: absolute;
  top: -8px;
  right: -8px;
  background: #ffc107;
  color: #000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.product-row .product-title {
  font-size: 20px;
  letter-spacing: 0.5px;
  margin-top: 10px;
}
.product-row .review-age {
  margin-top: 10px;
}
.product-row .product-age-delivery-date {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 15px;
}

.product-row .product-age-delivery-date .age-date-title p {
  font-size: 17px;
  letter-spacing: 0.5px;
  font-weight: 100;
  color: #636363;
}
.product-age-delivery-date .age-date-title p span {
  color: #0f0f0f;
}
.product-row .price-row {
  display: flex;
  margin-top: 20px;
}
.product-row .price-row .price {
  font-size: 30px;
  font-weight: 400;
}
.product-row .price-row .strike {
  text-decoration: line-through;
  color: #adadad;
  margin-left: 15px;
  font-size: 20px;
  margin-top: 10px;
}

.coupon-box {
  margin-top: 50px;
}

.coupon-box .coupon-section {
  display: flex;
  gap: 20px;
  margin-top: 20px;
}

.coupon-section input {
  background-color: #fdfdfd;
  padding-left: 20px;
  font-size: 20px;
  color: black;
  border-radius: 10px;
  height: 60px;
  width: 400px;
  border: 1px solid #dadada;
}

.coupon-section button {
  border-radius: 10px;
  border: none;
  background: black;
  color: white;
  width: 150px;
  font-size: 20px;
}

.payment-method-box {
  margin-top: 50px;
}
.payment-method-option {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 30px;
}
.payment-option {
  background-color: #fdfdfd;
  border: 1px solid #dadada;
  border-radius: 10px;
  padding: 25px;
  padding-bottom: 30px;
  display: flex;
  gap: 20px;
  position: relative;
}
.payment-option .option-icon img {
  width: 30px;
  height: 30px;
}
.payment-option .method-title {
  font-size: 20px;
  letter-spacing: 0.5px;
}
.payment-option .method-option-paragraph {
  font-size: 17px;
  font-weight: lighter;
  color: #636363;
  letter-spacing: 0.5px;
  margin-top: 10px;
}
.payment-option .method-xp-point {
  font-size: 17px;
  color: #009c39;
  margin-top: 10px;
}
.payment-option .payment-select-active {
  position: absolute;
  right: 25px;
  background-color: #ffd9be;
  border: 1px solid #ff994d;
  padding: 6px 22px;
  border-radius: 10px;
  display: none;
}
.payment-option .payment-select-active p {
  color: #111111;
  font-size: 14px;
}
.payment-option.active .payment-select-active {
  display: block;
}
.payment-option.active {
  border-color: #ee751b;
  background: #fff7f0;
}

.payment-summary-box {
  margin-top: 50px;
}

.payment-summary-card {
  background: #fdfdfd;
  border: 1px solid #dadada;
  padding: 30px 35px;
  border-radius: 40px;
  margin-top: 30px;
}

.payment-attribute-row {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 25px;
}
.payment-attribute-row .row-text {
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #636363;
}
.payment-attribute-row .row-text-value {
  font-weight: 600;
  font-size: 21px;
  color: #000;
}
.row-red .row-text-value {
  color: red;
}
.payment-summary-hr {
  width: 100%;
  height: 1px;
  background-color: #e6e6e6;
  margin-top: 35px;
  border-radius: 10px;
}
.payment-summary-card .total-row .row-text {
  display: flex;
  justify-content: space-between;
  color: #216bff;
  font-size: 25px;
  margin-top: 20px;
}
.payment-summary-card .total-row {
  margin-bottom: 5px;
}
.cod-method-all
{
   margin-top: 40px;
}
.payment-cod-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f5f5f5;
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  margin-bottom: 25px;
  padding: 15px 30px;
}
.payment-cod-row .payment-method {
  display: flex;
  align-items: center;
  gap: 10px;
}
.payment-cod-row .payment-method img {
  width: 24px;
}

.payment-cod-row .row-text {
  font-size: 20px;
  letter-spacing: 0.5px;
  color: #636363;
}
.payment-cod-row .row-text-value {
  font-weight: 550;
  font-size: 20px;
  color: #000;
}

.confirm-btn {
  width: 100%;
  margin-top: 40px;
  padding: 18px;
  border-radius: 15px;
  border: none;
  background: #EE751B;
  color: white;
  font-size: 20px;
  cursor: pointer;
  letter-spacing: .5px;
  margin-bottom: 150px;
}
