.footer {
  background-color: #3b3b3b;
  color: #fff;
  padding: 50px 100px;
  padding-bottom: 30px;
  border-top:2px solid #000000; 
}
.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.footer-menu {
  display: flex;
  gap: 120px;
  padding-right: 50px;
}
.footer-brand {
  margin-top: 40px;
}
.footer-brand h2 {
  font-size: 60px;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
}

.footer-brand p {
  font-size: 15px;
  color: #ffffff;
  line-height: 1.5;
  max-width: 350px;
  margin-top: 10px;
  letter-spacing: 0.2px;
  margin-left: 2px;
}

.footer-social {
  display: flex;
  gap: 20px;
  margin-top: 30px;
  margin-left: 2px;
}

.social-icon {
  width: 35px;
  height: 35px;
  border: 0.5px solid #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  background-color: #282828;
  cursor: pointer;
  font-size: 17px;
}

.social-icon:hover {
  background-color: #ee751b;
  border-color: #ee751b;
}

.footer-column .menu-title {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 400;
  color: #d3d3d3;
  letter-spacing: 0.5px;
}

.footer-column ul {
  list-style: none;
}

.footer-column ul li {
  margin-bottom: 15px;
}

.footer-column ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  transition: 0.3s;
  letter-spacing: 0.5px;
}

.footer-column ul li a:hover {
  color: #bfbfbf;
}

.footer-bottom {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer .hr {
  width: 100%;
  height: 1px;
  border-radius: 20px;
  background-color: #696868;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footer-bottom p {
  font-size: 15px;
  color: #eaeaea;
  text-shadow: 0px 4px 2px rgba(0, 0, 0, 0.15);
}

.footer-payments {
  display: flex;
  gap: 15px;
}

.payment-box {
  width: 80px;
  height: 40px;
  border-radius: 8px;
  background-color: #575757;
  border: 1px solid #8c8c8c;
}

@media (max-width: 992px) {
  .footer {
    padding: 50px 40px;
  }

  .footer-top {
    flex-direction: column;
    gap: 40px;
  }

  .footer-bottom {
    flex-direction: column;
    gap: 15px;
    align-items: flex-start;
  }
}
